<p style="color: green"><%= notice %></p>

<h1>Test</h1>

<div id="students">
  <table>
    <% @students.each do |student| %>
    <tr>
        <%= render student %>
      <td>
        <p>
          <%= link_to "Show this student", student %>
        </p>
      </td>
    </tr>

    <% end %>  
  </table>
</div>

<%= link_to "New student", new_student_path %>
