<div id="<%= dom_id todo %>">
  <p>
    <strong>Task:</strong>
    <%= todo.task %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= todo.day %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= todo.student_id %>
  </p>

</div>
